.section-about {
  background-color: #fff;
  position: relative;
  article {
    padding: 3rem 2rem 7rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    line-height: 2.5rem;
  }

  &-title {
    font-size: $font-xl-mb;
    line-height: 100%;
    font-weight: 400;
    margin: 0;
    text-transform: uppercase;
  }

  .hero-img {
    width: 100%;
  }

  .sign {
    font-size: $font-xs;
    font-weight: 400;
  }

  .scroller {
    display: none;
  }

  @media (min-width: $tablet) {
    padding-top: 6rem;
    &-title {
      font-size: $font-xl;
      margin-bottom: 3rem;
    }

    .sign {
      font-size: $font-m;
    }

    article {
      font-size: $font-sm;
    }

    .scroller {
      display: block;
      &-text {
        color: $text-100;
      }
      text-transform: uppercase;
      position: absolute;
      bottom: 2rem;
    }
  }

  @media (min-width: $desktop) {
    display: flex;
    padding-left: 10rem;
    padding-right: 5rem;
    padding-top: 10rem;
    padding-bottom: 5rem;

    .section-img-wrapper {
      flex: 0.75;
    }

    article {
      flex: 0.7;
    }
  }
}
