.header {
  @media (min-width: $tablet) {
    position: absolute;
    right: 0;
    left: 0;
    height: 6rem;
    bottom: calc(100% - 6rem);
    transition: 0.5s bottom ease-in-out;
    z-index: 1;
    &.scrolled {
      bottom: calc(0% - 6rem);
      border-bottom: 1px solid $text-100;
    }
  }
  @media (min-width: $desktop) {
    &.scrolled {
      border-bottom: none;
    }
  }
}
