* {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

// variables

// colors

// text
$text-000: #202020;
$text-100: #bebebe;
$text-200: #ffffff;

// font-size
$font-xs: 18px;
$font-sm: 24px;
$font-m: 36px;
$font-lg: 48px;
$font-xl: 60px;

$font-xl-mb: 30px;

// breakpoints

$mobile: 375px;
$tablet: 768px;
$desktop: 1024px;

// common classes
.mobile-hidden {
  @media (max-width: $mobile) {
    display: none;
  }
}
