* {
  font-family: "Open Sans", sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

// variables

// colors

// text
$text-000: #202020;
$text-100: #bebebe;
$text-200: #ffffff;

// font-size
$font-xs: 18px;
$font-sm: 24px;
$font-m: 36px;
$font-xl: 48px;
